{% extends "layout.html" %}
{% block content %}
<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Graficas con respecto a la posición</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

      {% include "trazada.html" %}
      {% block trazada %}{% endblock %}

      {% include "sensores.html" %}
      {% block sensores %}{% endblock %}

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block javascript %}
{{ super() }}
<!-- Flot Charts JavaScript -->
<script src="static/js/flot/excanvas.min.js"></script>
<script src="static/js/flot/jquery.flot.js"></script>
<script src="static/js/flot/jquery.flot.pie.js"></script>
<script src="static/js/flot/jquery.flot.resize.js"></script>
<script src="static/js/flot/jquery.flot.time.js"></script>
<script src="static/js/flot-tooltip/jquery.flot.tooltip.min.js"></script>
<script src="static/js/data/posicion.js"></script>
<script src="static/js/data/plot.js"></script>
<script src="static/js/flot/jquery.flot.crosshair.js"></script>
<script src="static/js/flot/jquery.flot.axislabels.js"></script>
{% endblock %}
