{% extends "layout.html" %}
{% block content %}
<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="alert alert-success alert-dismissable oculto cortar-vueltas-correcto">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<i class="fa fa-check fa-fw"></i> Vueltas cortadas correctamente
			</div>
			<div class="alert alert-danger alert-dismissable oculto cortar-vueltas-incorrecto">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<i class="fa fa-times fa-fw"></i> Ha surgido un problema al cortar las vueltas
			</div>
			<div class="alert alert-success alert-dismissable oculto borrar-vueltas-correcto">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<i class="fa fa-check fa-fw"></i> Vueltas borradas correctamente
			</div>
		</div>
		<div class="alert alert-danger alert-dismissable oculto borrar-vueltas-incorrecto">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<i class="fa fa-times fa-fw"></i> Ha surgido un problema al borrar las vueltas
		</div>

		<div class="alert alert-success alert-dismissable oculto editar-correcto">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<i class="fa fa-check fa-fw"></i> Datos guardados
		</div>
		<div class="alert alert-danger alert-dismissable oculto editar-incorrecto">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<i class="fa fa-times fa-fw"></i> Ha surgido un problema al modificar los datos
		</div>

		<div class="col-lg-12">
			<h1 class="page-header">Sesiones</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="panel-body">
			<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				Importar Sesión
			</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">Importar</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Introduzca el archivo</label>
								<input type="file">
							</div>
							<div class="form-group">
								<label>Información Adicional</label>
								<input class="form-control" placeholder="Introduzca la descripción">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							<button type="button" class="btn btn-primary">Guardar cambios</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<table class="table table-hover research">
						<thead>
							<tr>
								<th style="width:7%"> </th>
								<th class="col-lg-2" align="center">Seleción</th>
								<th class="col-lg-2" align="center">Opciones</th>
								<th class="col-lg-2" align="center">Fecha</th>
								<th class="col-lg-2" align="center">Nombre</th>
								<th class="col-lg-2" align="center">Duracion</th>
								<th class="col-lg-2" align="center">Metros</th>
								<th style="width:10%"> </th>
							</tr>
						</thead>

						<!-- Modal -->
						<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
										<!--<h4 class="modal-title" id="myModalLabel">Seleccionar punto inicio vuelta</h4>-->
									</div>
									<!-- <div class="modal-body" id="vueltas" style="height:200%; width:200%;"> -->
									<div id="modalcontent" class="modal-body">
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->





							</table>
							<!-- .panel-heading -->
							<div class="panel-body">
								<div class="panel-group" id="accordion">
									{% for post in posts %}
									<div class="panel panel-default">
										<div class="panel-heading">
											<table class="table table-hover research">
												<tbody>
													<tr>
														<td class="col-lg-2" align="center"><input type="radio" name="optionsRadios" value="{{ post.id }}"></td>
														<td class="col-lg-2">
															<div class="tooltip-demo">
																<button type="button" class="btn btn-primary btn-xs vueltas" data-toggle="tooltip" data-placement="top" title="Selección punto inicio vuelta">
																	<i class="fa fa-undo fa-fw"></i>
																</button>
																<button type="button" class="btn btn-primary btn-xs editar" data-toggle="tooltip" data-placement="top" title="Editar sesión">
																	<i class="fa fa-edit fa-fw"></i>
																</button>
																<button type="button" class="btn btn-primary btn-xs descargar" data-toggle="tooltip" data-placement="top" title="Descargar sesión">
																	<i class="fa fa-cloud-download fa-fw"></i>
																</button>
																<button type="button" class="btn btn-primary btn-xs borrar" data-toggle="tooltip" data-placement="top" title="Borrar sesión">
																	<i class="glyphicon glyphicon-remove fa-fw"></i>
																</button>
																<!-- </div> -->
															</div>
														</td>
														<td align="center" class="col-lg-2" data-toggle="collapse" data-parent="#accordion" href="#{{ post.id }}">{{ post.fecha }}</td>
														<td align="center" class="col-lg-2" data-toggle="collapse" data-parent="#accordion" href="#{{ post.id }}">{{ post.nombre }}</td>
														<td align="center" class="col-lg-2" data-toggle="collapse" data-parent="#accordion" href="#{{ post.id }}">{{ post.tiempo }}</td>
														<td align="center" class="col-lg-2" data-toggle="collapse" data-parent="#accordion" href="#{{ post.id }}">{{ post.metros }}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div id="{{ post.id }}" class="panel-collapse collapse">
											<div class="panel-body">
												<table >	
													<tbody>									
														<tr >
															<td class="col-lg-2"></td>
															<td>{{ post.nombre }}</td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>

									{% endfor %}
								</div>
							</div>
							<!-- .panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
			</div>

			<!-- /.container-fluid -->
		</div>
		<!-- /#page-wrapper -->
		{% endblock %}

		{% block javascript %}
		{{ super() }}
		<script src="static/js/sesiones.js"></script>
		<script src="static/js/editar.js"></script>
		<script src="static/js/borrar.js"></script>
		<!-- Flot Charts JavaScript -->
		<script src="static/js/flot/excanvas.min.js"></script>
		<script src="static/js/flot/jquery.flot.js"></script>
		<script src="static/js/flot/jquery.flot.pie.js"></script>
		<script src="static/js/flot/jquery.flot.resize.js"></script>
		<script src="static/js/flot/jquery.flot.time.js"></script>
		<script src="static/js/flot-tooltip/jquery.flot.tooltip.min.js"></script>
		<script src="static/js/jquery/jquery.min.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="static/js/bootstrap/js/bootstrap.min.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
		<script src="static/js/metisMenu/metisMenu.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="static/js/sb-admin-2.js"></script>

		{% endblock %}
