{% extends "layout.html" %}
{% block content %}
<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="alert alert-success alert-dismissable oculto cortar-vueltas-correcto">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	 <i class="fa fa-check fa-fw"></i> Vueltas cortadas correctamente
      </div>
      <div class="alert alert-danger alert-dismissable oculto cortar-vueltas-incorrecto">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<i class="fa fa-times fa-fw"></i> Ha surgido un problema al cortar las vueltas
      </div>
      <div class="alert alert-success alert-dismissable oculto borrar-vueltas-correcto">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <i class="fa fa-check fa-fw"></i> Vueltas borradas correctamente
      </div>
      <div class="alert alert-danger alert-dismissable oculto borrar-vueltas-incorrecto">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <i class="fa fa-times fa-fw"></i> Ha surgido un problema al borrar las vueltas
      </div>
      <div class="alert alert-success alert-dismissable oculto borrar-sesiones-correcto">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <i class="fa fa-check fa-fw"></i> Sesiones borradas correctamente
      </div>
      </div>
      <div class="alert alert-danger alert-dismissable oculto borrar-sesiones-incorrecto">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <i class="fa fa-times fa-fw"></i> Ha surgido un problema al borrar las sesiones
      </div>
      <div class="col-lg-12">
        <h1 class="page-header">Sesiones</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="panel-body">
        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Importar Sesión
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Importar</h4>
              </div>
              <div class="modal-body">
		<form id="upload_sesion">
                <div class="form-group">
                  <label>Modificar Información de la sesión</label></br><i>Si los campos se dejan en blanco, la información de la sesión no será modificada</i>
                  <input type="text" name="nombre" class="form-control" placeholder="Introduzca el nombre">
                </div>
                <div class="form-group">
                  <input type="text" name="descripcion" class="form-control" placeholder="Introduzca la descripción">
                </div>
                <div class="form-group">
                  <input type="date" name="fecha" class="form-control" placeholder="Introduzca la fecha">
                </div>
                <div class="form-group">
                  <label>Seleccione el archivo</label>
                  <input id="file" type="file" name="file">
                </div>
		</form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="subir_sesion" type="button" class="btn btn-primary">Guardar cambios</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Fecha</th>
              <th>Nombre</th>
              <th>Duracion</th>
              <th>Metros</th>
            </tr>
          </thead>

          <!-- Modal -->
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <!-- <div class="modal-body" id="vueltas" style="height:200%; width:200%;"> -->
                <div id="modalcontent" class="modal-body">
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <tbody>
              {% for post in posts %}
              <tr>
                <td><input type="radio" name="optionsRadios" value="{{ post.id }}"></td>
                <td class="col-lg-2">
		  <div class="tooltip-demo">
                    <button type="button" class="btn btn-primary btn-xs vueltas" data-toggle="tooltip" data-placement="top" title="Selección punto inicio vuelta">
		      <i class="fa fa-undo fa-fw"></i>
                    </button>
		    <button type="button" id="editar-{{ post.id }}" class="btn btn-primary btn-xs editar" data-toggle="tooltip" data-placement="top" title="Editar sesión">
		      <i class="fa fa-edit fa-fw"></i>
                    </button>
		    <a href="descargar_sesion?id={{ post.id }}" download="{{ post.nombre }}">
		    <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Descargar sesión">
			<i class="fa fa-cloud-download fa-fw"></i>
                    </button>
		    </a>
		    <button type="button" id="borrar-{{ post.id }}" class="btn btn-primary btn-xs delete_s" data-toggle="tooltip" data-placement="top" title="Borrar sesión">
		      <i class="glyphicon glyphicon-remove fa-fw"></i>
                    </button>
                    <!-- </div> -->
		  </div>
                </td>
                <td id="fecha{{ post.id }}" data-toggle="collapse" data-parent="#accordion" href="#descripcion{{ post.id }}">{{ post.fecha }}</td>
                <td id="nombre{{ post.id }}" data-toggle="collapse" data-parent="#accordion" href="#descripcion{{ post.id }}">{{ post.nombre }}</td>
                <td id="tiempo{{ post.id }}"data-toggle="collapse" data-parent="#accordion" href="#descripcion{{ post.id }}">{{ post.tiempo }}</td>
                <td id="metros{{ post.id }}"data-toggle="collapse" data-parent="#accordion" href="#descripcion{{ post.id }}">{{ post.metros }}</td>
              </tr>
              <tr>
                <td colspan="4" class="hiddenRow">
                  <div id="descripcion{{ post.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                      {{ post.descripcion }}
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- /.col-lg-12 -->
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
  {% endblock %}

  {% block javascript %}
  {{ super() }}
  <script src="static/js/sesiones.js"></script>
  <!-- Flot Charts JavaScript -->
  <script src="static/js/flot/excanvas.min.js"></script>
  <script src="static/js/flot/jquery.flot.js"></script>
  <script src="static/js/flot/jquery.flot.pie.js"></script>
  <script src="static/js/flot/jquery.flot.resize.js"></script>
  <script src="static/js/flot/jquery.flot.time.js"></script>
  <script src="static/js/flot-tooltip/jquery.flot.tooltip.min.js"></script>
  {% endblock %}
