{% extends "layout.html" %}
{% block content %}
<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Graficas con respecto al tiempo</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
		<div class="row">
		    <div class="col-lg-12">
			<div class="panel panel-default">
			    <div class="panel-heading">
				Trazada
			    </div>
			    <!-- /.panel-heading -->
			    <div class="panel-body">
			      <p id="vueltas" style="float:right; width:15%;">
				<input type="radio" name="vuelta" value="trazada" checked="True"> Trazada<br>
				{% for n in range(vueltas) %}
				<input type="radio" name="vuelta" value={{n}}> {{n}}<br>
				{% endfor %}
			      </p>
				<div class="flot-chart">
				    <div class="flot-chart-content" id="flot-line-chart"></div>
				</div>
				<span id="clickdata"></span>
			    </div>
			    <!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		    </div>
		    <!-- /.col-lg-12 -->
		    <div class="col-lg-6">
			<div class="panel panel-default">
			    <div class="panel-heading">
				Velocidad de las ruedas
			    </div>
			    <!-- /.panel-heading -->
			    <div class="panel-body">
			      <p id="choices" style="float:right; width:15%;"></p>
			      <div class="flot-chart">
				  <div class="flot-chart-content" id="flot-pie-chart"></div>

				</div>
			    </div>
			    <!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		    </div>
		    <!-- /.col-lg-6 -->
		    <div class="col-lg-6">
			<div class="panel panel-default">
			    <div class="panel-heading">
				Compresión del amortiguador
			    </div>
			    <!-- /.panel-heading -->
			    <div class="panel-body">
			      <p id="choices2" style="float:right; width:15%;"></p>
			      <div class="flot-chart">
				    <div class="flot-chart-content" id="flot-line-chart-multi"></div>
				</div>
			    </div>
			    <!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		    </div>
		    <!-- /.col-lg-6 -->
		    <div class="col-lg-6">
			<div class="panel panel-default">
			    <div class="panel-heading">
				Giro de la direccion
			    </div>
			    <!-- /.panel-heading -->
			    <div class="panel-body">
				<div class="flot-chart">
				    <div class="flot-chart-content" id="flot-line-chart-moving"></div>
				</div>
			    </div>
			    <!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		    </div>
		    <!-- /.col-lg-6 -->
		    <div class="col-lg-6">
			<div class="panel panel-default">
			    <div class="panel-heading">
				Porcentaje del acelerador y throttle
			    </div>
			    <!-- /.panel-heading -->
			    <div class="panel-body">
			      <p id="choices3" style="float:right; width:15%;"></p>
			      <div class="flot-chart">
				    <div class="flot-chart-content" id="flot-bar-chart"></div>
				</div>
			    </div>
			    <!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		    </div>
		    <!-- /.col-lg-6 -->
		    <div class="col-lg-6">
			<div class="panel panel-default">
			    <div class="panel-heading">
				Fuerzas G
			    </div>
			    <!-- /.panel-heading -->
			    <div class="panel-body">
				<div class="flot-chart">
				    <div class="flot-chart-content" id="flot-bar-chart2"></div>
				</div>
			    </div>
			    <!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		    </div>
		    <!-- /.col-lg-6 -->
		    
		</div>
		<!-- /.row -->		
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}

{% block javascript %}
	{{ super() }}
	<script src="static/js/tiempo.js"></script>
	<!-- Flot Charts JavaScript -->
	<script src="static/js/flot/excanvas.min.js"></script>
	<script src="static/js/flot/jquery.flot.js"></script>
	<script src="static/js/flot/jquery.flot.pie.js"></script>
	<script src="static/js/flot/jquery.flot.resize.js"></script>
	<script src="static/js/flot/jquery.flot.time.js"></script>
	<script src="static/js/flot-tooltip/jquery.flot.tooltip.min.js"></script>
	<script src="static/js/data/flot-tiempo.js"></script>
{% endblock %}
